.main {
    display: flex;
  }
  /* Title styling */
  .title {
    font-family: "Roboto", sans-serif;
    display: flex;
    background-color: #2f3137;
    text-align: center;
    padding: 20px;
  }
  /* Subtitle styling */
  .subtitle {
    display: flex;
    font-family: "Roboto", sans-serif;
    text-align: center;
    color: gray;
  }
  /* Intro styling */
  .introheading {
    display: flex;
    font-family: "Arima Madurai", cursive;
  }
  
  /* Gives the 'card' appearance of the webp */
  * {
    box-sizing: border-box;
  }
  
  /* Body default styling unless otherwise specified */
  body {
    font-family: Arial;
    padding: 10px;
    background: #2f3137;
  }
  
  /* Panel Heading */
  .header {
    padding: 30px;
    text-align: center;
    background: #37393f;
    color: rgb(226, 218, 218);
  }
  
  /* Style for h1 element in heading */
  .header h1 {
    font-size: 50px;
    color: white;
  }
  
  /* Left column component styling */
  .leftcolumn h2 {
    color: white;
  }
  
  .leftcolumn h5 {
    color: white;
  }
  
  .leftcolumn p {
    color: white;
  }
  
  /* Nav Bar */
  .topnav {
    overflow: hidden;
    background-color: #5765f2;
  }
  
  /* Style the topnav links */
  .topnav a {
    float: left;
    display: block;
    color: #f2f2f2;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
  }
  
  /* Change color on hover */
  .topnav a:hover {
    background-color: #ddd;
    color: black;
  }
  
  /* Left column */
  .leftcolumn {
    float: left;
    width: 50%;
  }
  
  /* Right column */
  .rightcolumn {
    float: left;
    width: 50%;
    background-color: #2f3137;
    padding-left: 20px;
    color: white;
  }
  
  /* fake coloured image for background of cards */
  .fakeimg {
    background-color: #fff;
    width: 100%;
    padding: 20px;
    border: 2px solid #fff;
    border-radius: 4px;
  }
  
  /* styling of fake img components */
  .fakeimg h5 {
    font-family: "arial", sans-serif;
    font-weight: bold;
    color: white;
    height: 200px;
    width: 200px;
  }
  
  /* gives padding to card components */
  .card {
    background-color: #37393f;
    padding: 20px;
    margin-top: 20px;
  }
  
  /* clear floats after the columns */
  .row:after {
    content: "";
    display: table;
    clear: both;
  }
  
  /* Footer */
  .footer {
    padding: 5px;
    text-align: center;
    background-color: #2f3137;
    margin-top: 20px;
    color: #2f3137;
    display: flex;
  }
  
  .footer h2 {
    background-color: #2f3137;
    color: #2f3137;
    padding: 0;
  }
  
  /* Responsive layout - when the screen is less than 800px wide, make  two columns stack*/
  @media screen and (max-width: 800px) {
    .leftcolumn,
    .rightcolumn {
      width: 100%;
      padding: 0;
    }
  }
  
  /* Responsive layout - when the screen is less than 400px wide, make the navigation links stack */
  @media screen and (max-width: 400px) {
    .topnav a {
      float: none;
      width: 100%;
    }
  }
  /* invite link card styling */
  .invitelink {
    background-color: #ddd;
    color: black;
    width: 100%;
    padding: 20px;
  }
  
  /* button with attached link styling */
  .blue-button {
    display: inline-block;
    font-family: Whitney, "Open Sans", Helvetica, sans-serif;
    font-weight: 400;
    font-size: 11pt;
    border-radius: 3px;
    cursor: pointer;
    height: 50px;
    width: 100%;
    box-shadow: 0 2px 6px 0 rgba(0, 0, 0, 0.2);
  }
  
  .blue-button {
    background-color: #7289da;
    border: 2px solid #7289da;
    color: #fff;
  }
  
  img {
    width: 100%;
    display: flex;
  }
  /* fixes image proportions in a small window */
  
  .invitelink h5 {
    color: black;
  }
  
  .invitelink {
    float: centre;
    text-align: center;
  }
  /* invitelink element styling (bottom of pg) */